<!DOCTYPE html>
<html>
<head>
	<title>Karen for Senate</title>
</head>
<body>
    <h1>Karen for Senate</h1>
    <form method='POST'>
        
        <input type='text' name='firstName' placeholder='First Name'></input>
        <input type='text' name='lastName' placeholder='Last Name'></input>
        <input type='text' name='mi' placeholder='Middle Initial'></input>
        
        <input type='date' name='birthday'>
        
        <input type='checkbox' name='interests'> Register voters <br>
        <input type='checkbox' name='interests'> Knock on doors <br>
        <input type='checkbox' name='interests'> Make phone calls <br>
        <input type='checkbox' name='interests'> Send text messages <br>
        <input type='checkbox' name='interests'> Digital outreach <br>
        <input type='checkbox' name='interests'> Host an event <br>
        <input type='checkbox' name='interests'> Office administration <br>
        <input type='checkbox' name='interests'> Video or photograph events <br>
        <input type='checkbox' name='interests'> Other/not sure/any way I can! <br>
        
        <input type='submit'>
        
    </form>
</body>
</html>